@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
}

body.dark {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 17, 24, 39; /* Tailwind gray-900 */
}

body.light {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220; /* Tailwind gray-100 */
}
